.element1 {
  padding-top: 101px;
  display: flex;
  background: white;
  overflow: clip;
}
.setPositionInitalTrue{
  position: initial !important ;
}
.flexContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  gap: 40px;
  padding-left: 25px;
  margin-top: 266px;
}

.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element1container {
  z-index: 2;
  position: relative;
  width: 100%;
}

.element1title {
  font-family: Montserrat;
  font-size: 65px;
  font-weight: 600;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
  color: #2c3c56;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: pre;
}

.element1titleSVG {
  position: absolute;
  left: calc(50% - 510px);
  top: 190px;
}

.element1mainSVG {
  position: absolute;
  width: auto;
  height: 272px;
  left: 130px;
}

.element1content {
  font-family: 'Ostwald';
  font-style: normal;
  font-size: 48px;
  line-height: 71px;

  color: #a19d9a;
  position: absolute;
  inset: 0 0 0 25px;
}

.flexContainer1 {
  display: flex;
}

.element1contentcontainer {
  z-index: -1;
}

.element1buttoncontainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.element1button {
  width: 248px;
  height: 82px;
  background-color: #2c3c56;
  color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.element1buttontext {
  color: #ffffff;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 0;
}

.leftText {
  transform: translate(99px, -125px);
}

.rightText {
  transform: translate(-138px, -125px);
}

.bottomText {
  /* width: 366px; */

  font-family: 'Ostwald';
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  padding: 0 30px 0 0;
  color: #0a0a0a;
}

.bottomButton {
  background: #d40000;
  border-radius: 12px;
  border: 0;
  width: 240px;
  height: 68px;
  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: #f9f9f9;
}

.white {
  color: white;
}

@media screen and (min-width: 565px) {
  .element1mainSVG {
    --q1: calc(100% - 565px);
    --q2: calc(var(--q1) / 2);
    --q3: calc(var(--q2) + 130px);
    left: var(--q3);
  }
  .element1content {
    --p1: calc(100% - 565px);
    --p2: calc(var(--p1) / 2);
    padding-left: var(--p2);
  }
}

@media only screen and (min-width: 550px) {
  .bottomText {
    display: flex;
    align-self: center;
    width: 574px;
  }
  .element1container {
    display: flex;
    justify-content: center;
  }
  .flexContainer {
    width: 600px;
  }
}
