.pagechange {
  width: 655px;
  height: 32px;
  box-sizing: border-box;
  background: linear-gradient(90deg,
      rgba(255, 205, 159, 0) 0%,
      #ffcd9f 50.75%,
      rgba(255, 205, 159, 0) 100%);
  border-radius: 30px;

  display: flex;
  justify-content: center;
  column-gap: 3.2rem;
  align-items: center;
  padding: 0px 32px;
}

.pagechangevalues {
  width: 16px;
  height: 32px;
  font-family: "Dev Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;

  color: #0a0a0a;
  cursor: pointer;
}

.pagechangevalueselected {
  width: 20px;
  line-height: 20px;
  text-align: center;

  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  /* margin-left: 4px;
  margin-right: 10px; */
}

.fireImage {
  position: absolute;
  left: -54px;
}

.currPage {
  font-family: "Dev Gothic";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #d40000;
  position: relative;
  /* left: 12px;
  bottom: 1px; */
}

.rightArrow {

  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #D40000;
}