.sidebar {
  width: 336px;
  background: #ffffff;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
left: -1000px;
  position: fixed;
  top: 0;
  width: 100vw;
  height: fit-content;
  min-height: 100vh;
  border-radius: 0;  
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listitems {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}


.topContainer {
  background-color: #d40000;
  height: 71px;
  width: 100%;
  clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.closeContainer {
  margin-right: 45px;
}
.showSidebar {
  left: 0;
} 