.headerContainer {
    .mobileNav {
      display: none;
      @media (max-width: 900px) {
        display: block;
      }
    }
    .header {
      @media (max-width: 900px) {
        height: 220px;
      }
      @media (max-width: 800px) {
        height: 180px;
      }
      @media (max-width: 600px) {
        background-image: url('../../../public/images/ask/legend.png');
        background-size: cover;
        height: 280px;
      }
      
    }
  }
  