/*new css*/

.LoggedInDiv {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-top: 70px;
  margin-left: 26px;
  margin-right: 50px;
}

.infoContainer {
  /* border-top: 6px solid #D9D9D9;;
  border-bottom: 6px solid #D9D9D9;; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 70px;
  /* row-gap: 1rem; */
  /* padding-left: 40px; */
}

.topContainer {
  background-color: #d40000;
  height: 71px;
  width: 400px;
  clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.closeContainer {
  margin-right: 45px;
}

.topBorder {
  width: 100%;
  height: 4px;
  background-color: #d9d9d9;
  transform: skew(315deg);
  transform-origin: top;
  /* margin-left: -20px; */
}

.bottomBorder {
  width: 100%;
  height: 4px;
  background-color: #d9d9d9;
  transform: skew(315deg);
  transform-origin: top;
  /* margin-left: -21px; */
}

.nameText {
  font-family: 'Ostwald';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 20px;
  display: flex;
  align-items: flex-start;
  color: #d40000;
  margin-bottom: 1.5rem;
  margin-left: 20px;
}

.pointsText {
  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  display: flex;
  align-items: flex-start;
  text-decoration: underline;
  color: #0a0a0a;
}

.infoText {
  font-family: 'Ostwald';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  display: flex;
  align-items: flex-start;
  color: #525252;
  margin-bottom: 0.5rem !important;
  margin-top: 1rem;
  margin-left: 20px;
}

.infoText2 {
  font-family: 'Ostwald';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.08em;
  display: flex;
  align-items: flex-start;
  color: #525252;
  margin-bottom: 1.4rem !important;
  margin-left: 20px;
}

.NotLoggedInDiv {
  text-align: center;
}

.sidebarreputationscount {
  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0a0a0a;
  margin-bottom: 0rem !important;
  margin-left: 20px;
}

.sidebarreputationscount > p {
  margin-bottom: 0rem !important;
}
