.flexrow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexrow img {
  margin-right: 10px;
}

.profile_picture {
  border-radius: 100%;
  width: 32px;
  height: 32px;
  overflow: hidden;
  margin-right: 16px;
  flex-shrink: 0;
  object-fit: cover;
}

.questioncard {
  width: 100%;
  background: #F9F9F9;
  box-shadow: none;
  border-radius: 30px;
  display: grid;
  grid-template-columns: 112px 1fr;
  margin-top: 24px;
}

.questioncard :hover {
  cursor: pointer;
}

.questionContentPart {
  position: relative;
  margin-bottom: -30px;
}

.questioncardheader {
  justify-content: flex-start;
  /* margin-top: 10px; */
}

.questioncardimage {
  width: 32px;
  height: 32px;
  left: 568px;
  top: 336px;
  border-radius: 100%;
  margin-right: 16px;
  object-fit: cover;
}

.questioncardupvotes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #b5b5b5;
  padding-top: 32px;
}

.arrows {
  box-sizing: border-box;
  cursor: pointer;
  margin: 2px 10px 2px 10px;
}

.questioncardupvotescount {
  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-top: 14px;
  color: #F13E3E;
}

.questioncardheading {
  padding-right: 10px;
  word-break: break-all;
  font-family: "Ostwald";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  width: 93%;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  color: #0a0a0a;
  /* margin: 16px 0px 0px 0px; */
  margin-top: 16px;
  margin-bottom: 2px;
}


.questioncardauthorname {
  width: 100%;
  height: 32px;

  font-family: "Ostwald";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  color: #070707;
}

.questioncardfooter {
  margin-bottom: 38px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #F13E3E;
  margin-right: 32px;
}

.questioncardfootertime {
  height: 16px;
  margin-right: 35px;
  font-family: 'Digital Numbers';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #b5b5b5;
  margin-bottom: 0px;
}

.questioncardfooterimg {
  margin-right: 8px;
}

.questioncardfooterleft {
  gap: 62px;
}

.questionfootertext {
  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F13E3E;
  margin-bottom: 0px;
}

.ProfileImage {
  object-fit: cover;
  vertical-align: top;
}

.emptyProfileImageDiv {
  background-color: #FFD0D0;
  width: 32px;
  height: 32px;
  left: 568px;
  top: 336px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 16px;
  vertical-align: middle;
  color: #F13E3E;
  line-height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.emptyProfileImageDiv p {
  margin-bottom: 0;
  font-size: 14px;
}

.reactMarkDown {
  margin-bottom: 36px;
  word-break: break-word;
}

.reactMarkDown p {
  font-family: "OstwaldL";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.08em;
  width: 93%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #525252;
  margin-bottom: 0px;
}

.reactMarkDown p img {
  display: none;
}

.bookmark img {
  margin-right: 30px;
  height: 24px;
}

.dash {
  background-image: url('/dstatic/questions/dash.svg');
  background-repeat: repeat-x;
  width: 60px;
  height: 6px;
  width: 100%;
}

.time {
  margin-right: -37px;
}



@media only screen and (max-width:1350px) {


  .questioncard {
    grid-template-columns: 66px 1fr;
    margin-top: 20px;
  }

  .questioncardupvotescount {
    margin-top: 10px;
  }

  .emptyProfileImageDiv {
    width: 24px;
    height: 24px;
  }

  .profile_picture {
    width: 24px;
    height: 24px;
  }

  .questioncardupvotes {
    padding-top: 36px;
  }

  .questioncardfooter {
    margin-bottom: 24px;
  }

  .emptyProfileImageDiv p {
    font-size: 12px;
  }

  /* .bookmark{
    right: -30px;
  } */
  /* .time {
    margin-right: -90px;
  } */
  .questioncardauthorname {
    font-size: 12px;
  }

  .questionContentPart {
    right: 0px;
    bottom: 2px;
  }

  .questioncardheading {
    margin-top: 8px;
    font-size: 20px;
    margin-bottom: 0px;
  }

  .reactMarkDown {
    margin-bottom: 20px;
  }

  .reactMarkDown p {
    font-size: 14px;
  }

  .questioncardfooterimg {
    width: 9.83px;
    height: 7.27px;
  }

  .questionfootertext {
    font-size: 12px;
  }

  .questioncardfooterleft {
    gap: 3rem;
  }

  .questioncardfootertime {
    margin-right: 12px;
    font-size: 8px;
  }

  .flexrow img {
    margin-right: 6px;
  }

  .arrows {
    width: 14px;
    height: 15px;
    margin: 0px 3px 0px 3px;
  }
}