.footer {
  padding: 2rem;
  padding-bottom: 3rem;
  width: 100%;
  background-color: #ffffff;
  margin-top: 4rem;

  text-align: center;
  font-family: "OstwaldL";
  font-size: 1.2rem;
  letter-spacing: 2px;
  span {
    text-decoration: underline;
    text-transform: uppercase;
    cursor: pointer;
  }
  @media (max-width: 600px) {
    font-size: 1rem;
    display: block;
    margin-top: 2rem;
  }
}

.signupFooter {
  padding: 2rem !important;
  margin-top: 0px !important;
}

.link {
  text-decoration: none;
  color: #000;
}


.newfooter { display: none};
@media (aspect-ratio > 1.5) { 
  .oldfooter { display: none};
  .newfooter { 
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    position: relative;
  };
  .footer {
    margin-top: -70px !important;
    .undefined {
      .submitBtn {
        width: 100px;
      }
    }
    
  }
  .inputWrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .newfooterwrpr {
    width: 50%;

    color: #000;
    span {
      color: #D40000;
    }
  }
} 