.MainDesktopContainer {
  display: block;
  overflow-x: hidden !important;
  background: #f9f9f9;
}

.app {
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin-top: 40px;
  @media (max-width: 1200px) {
    margin-top: 20px;
  }
}

.sidebarcontainer {
  margin-left: 20px;
  background: #f9f9f9;
  margin-right: 90px;
  @media (max-width: 1500px) {
    margin-right: 75px;
  }
  @media (max-width: 1200px) {
    margin-right: 80px;
  }
}

.leaderboardcontainer {
  margin-right: 24px;
  margin-left: 60px;
  @media (max-width: 1500px) {
    margin-left: 50px;
  }
  @media (max-width: 1200px) {
    display: none;
  }
}

.noAnswers {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #898989;
}

.answers {
  display: flex;
  justify-content: center;
  height: 100%;
}

.pagechangecontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.marqueeContainer {
  display: flex;
  width: 100vw;
  flex-direction: row;
}

@media (max-width: 1001px) {
  .MainDesktopContainer {
    display: none !important;
  }
}
@media (max-width: 1200px) {
  .questionsWrapper {
    margin-right: 50px;
  }
}
