.element3 {
  /* border-top-left-radius: 30px;
    border-top-right-radius: 30px; */
  background-color: white;
  -webkit-box-shadow: 0px -4px 50px #f0f1f5;
  -moz-box-shadow: 0px -4px 50px #f0f1f5;
  box-shadow: 0px -4px 50px #f0f1f5;
  display: flex;
}

.element3row {
  display: flex;
  align-items: center;
}

.element3container {
  position: relative;
  width: 100%;
}

.element3title {
  z-index: 2;
  width: 247px;
  font-family: 'Montserrat';
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 54px;
  margin-right: 8px;
}

.element3TitleSVG {
  width: 237px;
  z-index: 1;
  position: absolute;
  top: 55px;
  left: -8px;
}

.element3content {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #696969;
  margin: 45px 0;
}

.upperText {
  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  border-left: 8px solid#F13E3E;
  padding-left: 27px;
  margin: auto;
  width: 90vw;
  margin-top: 42px;
  height: 112px;
  color: #0a0a0a;
}

.upperflex {
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin: 32px 0 0 0;
  padding: 0 20px 0 46px;
}

.upperflex > div {
  display: flex;
  gap: 22px;
}

.upperTitle {
  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  /* identical to box height */

  letter-spacing: 0.04em;
  margin-bottom: 8px;
  color: #d40000;
}

.upperDescription {
  font-family: 'Ostwald';
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;

  color: #000000;
}

.icons {
  width: 35px;
  height: 35px;
}

.element3row2 {
  width: 100%;
  /* height: 286px; */
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  position: relative;
  margin-top: 23px;
}

.formulacar {
  width: 100%;
  height: calc((130 / 469) * 100vw);
  transform: translateY(9.4vw);
  z-index: 2;
  position: relative;
}

.lowerText {
  font-family: 'Ostwald';
  width: 90vw;
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  margin: 0 auto;
  height: 95px;
  color: #0a0a0a;
  margin-top: 47px;
}

.lowerText2 {
  font-family: 'Ostwald';
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;
  width: 90.5vw;
  margin: 0 auto;
  height: 81px;
  color: #0a0a0a;
  margin-bottom: 48px;
}

.lowerTextRed {
  font-family: 'Ostwald';
  font-style: normal;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.04em;

  color: #d40000;
}

.element3row3 {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-bottom: 72px;
}

.element3row3 > div {
  width: 90vw;
  margin: auto;
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.element3row3 > button {
  width: 90vw;
  height: 68px;
  margin: auto;

  margin-top: 45px;
  background: #d40000;
  border-radius: 9px;
  border: 0;

  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.04em;

  color: #f9f9f9;
}

.steering {
  width: 200px;
  height: 100px;
}

.element3row3 > div > span {
  font-family: 'Ostwald';
  font-style: normal;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.04em;

  color: #d40000;
}

@media only screen and (min-width: 550px) {
  .upperText {
    width: 291px;
  }
  .upperflex {
    display: flex;
    align-content: center;
    width: 100vw;
    flex-wrap: wrap;
  }
  .upperTitle {
    width: fit-content;
  }
  .upperDescription {
    width: 395px;
  }
  .upperflex > div {
    display: flex;
    align-items: center;
    gap: 22px;
  }
  .formulacar {
    width: 530px;
    height: auto;
    position: relative;
  }
  .formulacardiv {
    display: flex;
    position: relative;
    height: fit-content;
    width: 100vw;
    justify-content: flex-end;
    bottom: 30px;
  }
  .lowerText {
    width: 384px;
    /* margin: 0px 0px; */
    margin-top: 50px;
    margin-left: 90px;
  }
  .lowerText2 {
    width: 388px;
    /* margin: 0px 0px; */
    margin-top: 0px;
    margin-left: 90px;
  }
  .element3row3 > div > span {
    width: 163px;
  }
  .element3row3 > button {
    width: 38vw;
  }
}
