.listContainer {
  .heading {
    font-family: "OstwaldL";
    display: flex;
    align-items: baseline;
    gap: 8px;
    h2 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 0px;
    }
    span {
      font-family: "OstwaldL";
      color: #a19d9a;
      font-size: 18px;
    }
  }
  .breakline2 {
    margin: 0px;
    margin-top: 14px;
    border-top: 3px solid #cccccc;
    border-style: none;
    border-top-style: solid;
    opacity: 1;
  }
  @media (max-width: 1500px) {
    .heading {
      h2{
        font-size: 22px;
      }
      span{
        font-size: 16px;
      }
    }
  }
  @media (max-width: 1200px) {
    .heading {
      h2{
        font-size: 18px;
      }
      span{
        font-size: 12px;
      }
    }
  }
}
.viewMore {
  padding: 0.4rem 1rem;
  width: 100%;
  font-family: "OstwaldL";
  font-size: 1.2rem;
  text-decoration: underline;
  color: #f13e3e;
  p {
    cursor: pointer;
    display: block;
    text-align: center;
    width: 200px;
    margin: auto;
  }
  @media (max-width: 600px) {
    font-size: 0.9rem;
    padding: 1rem 22px;

    p {
      display: block;
      width: 100%;
      text-align: left;
      margin: 0px;
    }
  }
}
.contentWrapper {
  @media (max-width: 600px) {
    width: 90%;
    margin-left: auto;
  }
}
