.setInitialPositionTrue {
	position: initial;
}

.container {
	h2 {
		color: #d40000;
		text-transform: capitalize;
		font-size: 2.25rem;
		letter-spacing: 1px;
		font-family: 'OstwaldEL';
		font-weight: 800;
		display: flex;
		align-items: center;
		gap: 1rem;

		span {
			display: inline-block;
			position: relative;
			cursor: pointer;
			top: 2px;
			height: 25px;
			width: 40px;

			.img {
				object-fit: contain;
			}
		}

		@media (max-width: 1500px) {
			font-size: 26px;
			gap: 14px;

			span {
				width: 28px;
			}
		}

		@media (max-width: 1200px) {
		}
	}

	.listContainer {
		margin-top: 1rem;
		display: flex;
		gap: 1.5rem;
		position: relative;

		.edgeBorder {
			width: 6px;
			height: 100%;
			position: absolute;
		}

		.listWrapper {
			display: flex;
			flex-direction: column;
			margin-left: 1.5rem;
		}
	}
}
