@import url("https://fonts.googleapis.com/css?family=Poppins");

.sidebarlistitemicon {
  margin-right: 44px;
  margin-left: 44px;
}
.setInitialPositionTrue{
  position: initial;
}
.sidebarlistitemtitle {
  width: 100%;
  font-family: "Ostwald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  margin-left: 22px;
  color: #706666;
  margin-bottom: 0px;
}

.QuestionsImage {
  width: 21px;
  height: 20px;
}

.questionsBox {
  position: absolute;

}

.sidebarlistitemselected {
  position: relative;
  height: 53px;
  margin-top: 32px;
}

.bgQuestions {
  position: absolute;
  background: #E40520;
  margin-left: 16px;
  height: 53px;
  width: 246px;
  border-radius: 0px;
  transform: skew(-30deg);
  transform-origin: top;

}

.sidebarlistitemtitleselected {
  font-family: "Ostwald";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  letter-spacing: 0.08em;

  color: #ffffff;
}

.flexrowbetween {
  display: flex;
  /* justify-content: space-between; */
  padding: 0 36px;
  align-items: center;
  width: 260px;
  height: 49px;
  margin-bottom: 16px;
  /* border-radius: 10px; */

  cursor: pointer;
}

.maincontain {
  display: flex;
  align-items: center;
  /* justify-content: flex-start; */
  flex-direction: column;
  text-align: center;
  background: #f0f0f0;
  height: 470px;

}

.linkQuestions {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.link {
  text-decoration: none;
  /* margin-left: -10px; */
}

@media (max-width: 1200px) {
  .sidebarlistitemtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .flexrowbetween {
    margin-bottom: 24px;
    width: 187px;
    padding: 0 26px;
  }

  .bgQuestions {
    width: 200px;
    height: 40px;
  }

  .sidebarlistitemtitle {
    margin-left: 15px;
  }

  .maincontain {
    height: fit-content;
  }

  .icon {
    width: 18px;
    height: 18px;
  }
}