@font-face {
  font-family: 'Montserrat';
  src: url('/dstatic/fonts/Montserrat/Montserrat-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/dstatic/fonts/Montserrat/Montserrat-SemiBold.ttf');
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('/dstatic/fonts/Poppins/Poppins-Medium.ttf');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'OstwaldEL';
  src: url('/dstatic/fonts/Ostwald/Oswald-ExtraLight.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OstwaldL';
  src: url('/dstatic/fonts/Ostwald/Oswald-Light.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OstwaldM';
  src: url('/dstatic/fonts/Ostwald/Oswald-Medium.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ostwald';
  src: url('/dstatic/fonts/Ostwald/Oswald-Regular.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OstwaldB';
  src: url('/dstatic/fonts/Ostwald/Oswald-Bold.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dev Gothic';
  src: url('/dstatic/fonts/DevGothic/devgothic.TTF');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Digital Numbers';
  src: url('/dstatic/fonts/DigitalNumbers/DigitalNumbers-Regular.woff');
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.CodeMirror {
  border: 0 !important;
}

.editor-toolbar {
  border: 0 !important;
  border-bottom: 2px solid #898989 !important;
}

.editor-toolbar button {
  color: #898989;
}

.pollRadio {
  width: 16px;
  height: 16px;
}

.pollRadio:not(:checked) {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background: transparent;
  border: none;
  box-sizing: border-box;
  outline: 1px solid #f13e3e;
}

.pollRadio:checked {
  accent-color: #f13e3e;
}

.creatpolls .CodeMirror-scroll {
  min-height: 0px !important;
}

.creatpolls .dashbordhhr,
.creatpolls .postBtn {
  display: none;
}

.creatpolls .EasyMDEContainer .CodeMirror {
  font-size: 20px;
}

.aeoifhaweif .dashbordhhr,
.aeoifhaweif .postBtn {
  display: none;
}

.aeoifhaweif .CodeMirror-scroll {
  min-height: 0px !important;
}

.aeoifhaweif .EasyMDEContainer {
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 42px;
  height: 32px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 2px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .pollsmain hr,
.pollsmain p,
.pollsmain figure {
  margin: 0 !important;
} */

/* .pollsmain hr,
.pollsmain figure {
  margin: 0 !important;
}

  */
