.background {
  height: 240px;
  width: 100%;
  background: url("/static/questions/background.png");
  background-size: contain;
  background-repeat: repeat-x;
  z-index: -1;
  margin-top: -64px;
  margin-bottom: 64px;
}
