.topContainer {
  background-color: #d40000;
  height: 71px;
  width: 400px;
  clip-path: polygon(0 0, 100% 0%, 92% 100%, 0 100%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 70px;
}

.topBorder {
  width: 100%;
  height: 4px;
  background-color: #d9d9d9;
  transform: skew(315deg);
  transform-origin: top;
}

.closeContainer {
  margin-right: 45px;
}

.bottomBorder {
  width: 100%;
  height: 4px;
  background-color: #d9d9d9;
  transform: skew(315deg);
}

.nameText {
  font-family: 'Ostwald';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 20px;
  display: flex;
  align-items: flex-start;
  color: #d40000;
  /* margin-bottom: 1.5rem; */
  margin-left: 20px;
}

.loginContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}
.loginText {
  text-decoration: none;
}
.pointsText {
  font-family: 'Dev Gothic';
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 26px;

  text-decoration: none;
  color: #0d6efd;
  margin: 20px 0;
}

.infoText {
  font-family: 'Ostwald';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.08em;
  display: flex;
  align-items: flex-start;
  color: #525252;
  margin-bottom: 1.2rem !important;
  margin-top: 1rem;
  margin-left: 20px;
}

.NotLoggedInDiv {
  /* text-align: center; */
  margin-top: 70px;
  margin-left: 26px;
  margin-right: 50px;
}
